
html {
  --scrollbarBG: ##FFFFF0;
  --thumbBG: #899499;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  background-color: #FAF9F6;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* 
lines 30-38 belongs to all the individual servant class images they are just give each image slide an animation when
you click the buttons

*/
.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}